@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display:inline-block;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  margin-bottom: -5px;


}

.main-nav {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 71px;
  padding-left: 59px;
}

.main-nav img {
  display: block;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 472px;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  display: block;
  margin: 13px 9px 14px 0;
}

.main-nav-link {
  position: relative;
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 3px 9px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.main-nav-link-current::after {
  content: "";
  position: absolute;
  right: 9px;
  top: 48px;
  left: 9px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.main-nav-link:hover {
  color: #756257;
}

.main-nav-link:focus-visible {
  color: #756257;
  border-color: #83B3D3;
  outline: none;
}

.main-nav-link:active {
  color: rgba(117, 98, 87, 0.3);
  border-color: transparent;
}

.logo {
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  z-index: 1 ;
}

.navigation-user {
  display: flex;
  width: 460px;
  justify-content: flex-end;
}

.navigation-user .main-nav-item {
  margin-top: 14px;
  margin-right: 1px;
  margin-bottom: 14px;
}

.navigation-user .main-nav-link {
  position: relative;
  min-width: 38px;
  min-height: 38px;
  padding: 7px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.main-nav-link:hover .navigation-icon {
  fill: #756257;
}

.main-nav-link:focus .navigation-icon {
  fill: #756257;
}

.main-nav-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

/* .favourites-icon: {
  position: relative;
} */

.favourites-icon::after {
  position: absolute;
  content: "12";
  top: 14px;
  right: 252px;
  width: 19px;
  height: 19px;
  padding: 3px 5px 3px 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  z-index: 2;
}

.favourites-icon:active::after {
  color: rgba(255, 255, 255, 0.3);
}

/* Поповер */

/* .favourites-icon:hover .popover{
  display: block;
} */

.popover-open {
  display: block;
}

.popover {
  display: none;
  position: absolute;
  top: 62px;
  right: 72px;
  z-index: 1;
  width: 400px;
  min-height: 100px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

/* .popover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  margin-left: -10px;
  z-index: 1;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #FFFFFF;
  border-top: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
} */

.popover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  margin-left: -13px;
  width: 20px;
  height: 9px;
  background-image: url("../img/popover-triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 9px;
}

.popover-content {
  height: 100%;
  padding: 14px;
  padding-bottom: 0;
  border: 1px solid #E5E5E5;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
}

.favourites-list{
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.favourites-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.favourites-item + .favourites-item {
  margin-top: 5px;
}

.favourites-link {
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: min-content min-content;
  padding: 7px;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.favourites-link:hover {
  opacity: 0.6;
}

.favourites-link:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.favourites-link:active {
  opacity: 0.3;
}

.favourites-image {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  border-radius: 50%;
}

.favourites-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
  margin: 0;
  font-size: 18px;
  color: #000000;
}

.favourites-hotel-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
  color: #333333;
}

.button-delete {
  position: relative;
  width: 36px;
  height: 36px;
  margin-top: 5px;
  padding: 7px;
  background-color: inherit;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  fill: rgba(0, 0, 0, 0.2);
}

.button-delete:hover .delete-icon {
  fill: #000000;
}

.button-delete:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.button-delete:focus .delete-icon{
  fill: #000000;
}

.button-delete:active .delete-icon {
  fill: rgba(0, 0, 0, 0.1);
}

.popover-button-all {
  width: 100%;
  height: 60px;
  padding: 19px 0 20px 0;
  line-height: 21px;
  border-radius: 0 0 20px 20px;
}

.popover-button-all:hover {
  background-color: #615048;
}

.popover-button-all:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}

.popover-button-all:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  outline: none;
}

.main-nav-link.button {
  width: 160px;
  margin-right: 0;
  margin-left: 23px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
}

.main-nav-link.button:hover {
  background-color: #615048;
}

.main-nav-link.button:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}

.main-nav-link.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.first-screen {
position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ADD8E6;
  background-image: url("../img/index-background.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.first-screen::after {
  content:"";
  position: absolute;
  width: 1200px;
  height: 57px;
  top: 428px;
  left: 0;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
}

.first-screen-logo {
  display: block;
  margin: 0 auto;
}

.features {
  padding-top: 63px;
  text-align: center;
}

.features-slogan {
  display: block;
  width: 720px;
  margin: 0 auto 31px auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.feautures-preface {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
}

.features-list,
.arguments-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-list img {
  display: block;
  width: 100%;
  height: auto;
}

.features-item-photo {
  display: flex;
}

.photo-reverse {
  flex-direction: row-reverse;
}

.features-item-text {
  width: 400px;
  padding: 90px;
  padding-top: 98px;
  padding-bottom: 77px;
}

.without-photo {
  width: 400px;
  min-height: 384px;
  padding: 75px;
  padding-top: 98px;
  padding-bottom: 77px;
}

.arguments-item {
  width: 400px;
  min-height: 384px;
  padding: 75px;
  padding-top: 184px;
  padding-bottom: 79px;
}

.features-item:first-of-type,
.features-item:nth-of-type(3) {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.features-item:nth-of-type(4),
.features-item:nth-of-type(6),
.arguments-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-of-type(5) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-title,
.arguments-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-title {
  margin-bottom: 27px;
}

.features-description,
.arguments-description,
.features-number {
  margin: 0;
}

.features-number {
  margin-bottom: 30px;
}

.arguments-title {
  position: relative;
  margin-bottom: 20px;
}

.arguments-house::before {
  content: "";
  position: absolute;
  top: -95px;
  left: 50%;
  width: 75px;
  height: 72px;
  margin-left: -37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.arguments-food::before {
  content: "";
  position: absolute;
  top: -93px;
  left: 50%;
  width: 74px;
  height: 70px;
  margin-left: -37px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
}

.arguments-gift::before {
  content: "";
  position: absolute;
  top: -99px;
  left: 50%;
  width: 64px;
  height: 76px;
  margin-left: -32px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
}

.search-hotel {
  padding: 240px;
  padding-top: 89px;
  padding-bottom: 113px;
  text-align: center;
}

.search-hotel-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel-description {
  margin-top: 0;
  margin-bottom: 58px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel-button {
  width: 575px;
  height: 60px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 17px;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.search-hotel-button:hover {
  background-color: #615048;
}

.search-hotel-button:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.search-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  outline: none;
}

.subscribe {
  padding: 200px;
  padding-top: 72px;
  padding-bottom: 93px;
  text-align: center;
  color: #FFFFFF;
  background-color: #87ceeb;
  background-image: url("../img/subscribe-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  width: 600px;
  height: 60px;
  padding-left: 22px;
  font: inherit;
  line-height: 26px;;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscribe-form input:hover {
background-color: #E5E5E5;
}

.subscribe-form input:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
  }


.subscribe-button {
  margin: 0;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus-visible {
  background-color: #68A2CA;
  border: none;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.subscribe-button:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 61px;
  padding-right: 50px;
  padding-top: 23px;
  padding-bottom: 25px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 179px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.footer-social-link {
  position: relative;
  display: block;
  min-width: 40px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-social-link:hover .social-icon,
.footer-social-link:focus-visible .social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.footer-social-link:active .social-icon {
  fill: rgba(131, 179, 211, 0.3);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-phone {
  display: block;
  padding: 12px;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  align-self: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus-visible {
  color: #756257;
  border-color: #83B3D3;
  outline: none;
}

.footer-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.academy-logo-link {
  position: relative;
  display: block;
  width: 160px;
  height: 70px;
  margin-left: 30px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.academy-logo-link:hover .academy-logo,
.academy-logo-link:focus-visible .academy-logo {
  fill: #756257;
}

.academy-logo-link:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.academy-logo-link:active .academy-logo {
  fill: rgba(117, 98, 87, 0.3);
}

.academy-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*Каталог*/

.catalog-background {
  padding: 37px 72px 84px 71px;
  color: #FFFFFF;
  background-color: #87ceeb;
  background-image: url("../img/catalog-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 41px;
  margin-left: -6px;
  padding: 0;
  justify-content: baseline;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  margin: 0;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-item:first-child  .breadcrumbs-link{
  display: block;
  width: 28px;
  height: 27px;
  padding: 3px 5px 6px 5px;
  background-image: url("../img/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.breadcrumbs-item {
  position: relative;
  margin: 0;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  position: absolute;
  content:"";
  top: 50%;
  left: -8px;
  margin-top: -4px;
  width: 5px;
  height: 8px;
  background-image: url("../img/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5px 8px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: none;
  border-color: #83B3D3;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.filters-form {
  display: flex;
}

.filters-group {
  border: none;
  margin: 0;
  padding: 0;
}

.infrastructure {
  margin: 0;
  margin-right: 67px;
}

.housing {
  margin: 0;
  margin-right: 169px;
}

.filter-price {
  margin-right: 81px;
}

.filters-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filters-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-price .filters-title{
  margin-bottom: 35px;
}

.filters-item {
  margin-bottom: 13px;
  line-height: 23px;
}

.filters-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -6px;
  content: "";
  width: 13px;
  height: 10px;
  background-image: url("../img/checkbox.svg");
  background-position: center;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content:"";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  height: 48px;
  margin-bottom: 28px;
}

.filter-price-label {
  position: relative;
  display: flex;
}

.filter-price-input {
  width: 143px;
  height: 48px;
  padding-left: 17px;
  font: inherit;
  line-height: 23px;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  outline: none;
}

.filter-price-input::-webkit-outer-spin-button,
.filter-price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-min {
  border-radius: 4px 0 0 4px;
}

.input-max {
  width: 146px;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.filter-price-input:hover {
  border-color:rgba(255, 255, 255, 0.6)
}

.filter-price-input:focus-visible {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2 inset;
  outline: 3px solid #81B3D2;
}

.filter-price-input:active {
  background-color: #756257;
  outline: none;
  box-shadow: none;
}

.label-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  top: 50%;
  right: 15px;
  margin-top: -12px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position:absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
  box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.filters-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-submit {
  width: 160px;
  margin-bottom: 18px;
  padding-top: 14px;
  padding-bottom: 13px;
  line-height: 21px;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-submit:hover {
 background-color: #68A2CA;
}

.button-submit:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-submit:active {
  color:rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
}

.button-reset:active {
  opacity: 0.3;
}

.sorting-container {
  display: flex;
  padding: 44px 72px 41px 71px;
}

.sorting-title {
  margin: 0;
  margin-right: 192px;
  align-self: center;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-type {
  margin-right: auto;
}

.select-control {
  /* height: 48px; */
  font: inherit;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.sorting {
  min-width: 287px;
  padding: 10px 50px 11px 17px;
}

.sorting-button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-button-current {
  border-color: #000000;
}

.sorting-button:hover {
  border-color: #83B3D3;
}

.sorting-button:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.sorting-button:active {
  border-color: #000000;
  outline: none;
}

.sorting-button-current:hover {
  border-color: #000000;
}

.sorting-button-current:focus-visible {
  border-color: #000000;
  outline: none;
}

.sorting-container a:last-child {
  margin-right: 0;
}

.button-title {
  background-image: url("../img/mode-title.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-list {
  background-image: url("../img/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-slideshow {
  background-image: url("../img/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 31px;
  padding: 0 72px;
  list-style-type: none;
}

.hotels-list .button {
  padding-top: 9px;
  padding-bottom: 10px;
  margin: 0;
}

.hotels-card {
  display: grid;
  grid-template-columns: 180px 36px 159px 160px 361px 160px;
  grid-template-rows: min-content min-content min-content;
  padding-top: 31px;
  padding-bottom: 29px;
  border-top: 1px solid #E5E5E5;
}

.hotels-card:last-of-type {
  border-bottom: 1px solid #E5E5E5;
}

.hotels-card-link-image {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: 0;
  padding: 0;
}

.hotels-card-link-image:hover {
  opacity: 0.6;
}

.hotels-card-link-image:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.hotels-card-link-image:active {
  opacity: 0.3;
}

.hotels-card-image {
  display: block;
}

.hotels-card-link {
  display: block;
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  justify-self: start;
  margin: 0;
  margin-top: -5px;
  padding: 0;
  text-decoration: none;
  border-radius: 1px;
}

.hotels-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotels-card-link:hover .hotels-card-title {
  color: #756257;
}

.hotels-card-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 3px;
}

.hotels-card-link:focus-visible .hotels-card-title {
  color: #756257;
}

.hotels-card-link:active .hotels-card-title {
  color: rgba(117, 98, 87, 0.3);
}

.hotels-card-type {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  line-height: 23px;
}

.hotels-card-price {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  line-height: 23px;
}

.hotels-card-buttons {
  display: flex;
  flex-wrap: wrap;
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  width: 319px;
  margin: 0;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels-card-button {
  width: 151px;
}

.hotels-card-button:hover {
  background-color: #615048;
}

.hotels-card-button:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}

.hotels-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  outline: none;
}

.hotels-card-favourites {
  width: 160px;
  background-color: #83B3D3;
}

.hotels-card-favourites:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257
}

.hotels-card-favourites:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.hotels-card-favourites:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.hotels-stars-raiting {
  display: block;
  grid-column: 6 / 7;
  grid-row: 1 /2 ;
  justify-self: center;
  align-self: start;
  height: 23px;
  margin: 0;
  padding: 0;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 6px;
}

.stars-two {
  margin: 0;
  width: 43px;
}

.stars-three {
  margin: 0;
  width: 68px;
}

.stars-four {
  margin: 0;
  width: 89px;
}

.hotels-card-raiting {
  display: block;
  grid-column: 6 / 7;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: flex-end;
  width: 160px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.hotels-card-favourites-add {
  width: 160px;
  background-color: #7DB54F;
}

.hotels-card-favourites-add:hover {
  background-color: #6C9E42;
}

.hotels-card-favourites-add:focus-visible {
  background-color: #6C9E42;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.hotels-card-favourites-add:active {
  background-color: #6C9E42;
  color:rgba(255, 255, 255, 0.3);
  outline: none;
}

.show-more {
  width: 1056px;
  margin: 0 auto;
  padding-bottom: 29px;
  border-bottom: 1px solid #E5E5E5;
}

.show-more-button {
  display: block;
  width: 625px;
  height: 55px;
  padding: 0;
  margin: 0 auto;
  /* margin-bottom: 30px; */
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
}

.show-more-button:hover {
  background-color: #68A2CA;
}

.show-more-button:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.show-more-button:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination-container {
  display: flex;
  padding: 71px;
  padding-top: 31px;
  padding-bottom: 87px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover:not(.pagination-link-current) {
  background-color: #68A2CA;
}

.pagination-link:focus-visible:not(.pagination-link-current) {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link:active:not(.pagination-link-current) {
  color:rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-current:focus-visible {
  outline: none;
}

.cards-on-page {
  margin-left: auto;
}

.cards-on-page-title {
  line-height: 23px;
  margin-right: 51px;
}

.numbers-cards {
  min-width: 160px;
  padding: 11px 50px 10px 15px;
}

.subscribe-catalog {
  padding: 0 200px;
  margin-bottom: 138px;
  text-align: center;
}

.subscribe-catalog-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-catalog-description {
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 715px;
}

.modal-button-close {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.modal-button-close:hover {
  background-color: #E5E5E5;
}

.modal-button-close:focus-visible {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.modal-button-close:active {
  background-color: #E5E5E5;
}

.modal-button-close:active .close-icon {
  fill:rgba(0, 0, 0, 0.3)
}

.modal-title {
  margin: 0;
  padding-bottom: 59px;
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.field-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
}

.person {
  display: flex;
  justify-content: space-between;
}

.age-adults {
  width: 288px;
}

.age-children {
  width: 230px;
}

.form-label {
  margin: 0;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.form-field {
  position: relative;
  height: 50px;
  padding: 0 19px;
  font: inherit;
  line-height: 40px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.form-field::placeholder {
  color: #000000;
}

.form-field:hover {
  background-color: #E5E5E5;
}

.form-field:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.form-field:active {
  background-color: #FFFFFF;
  border-color: #000000;
  outline: none;
}

.form-date {
  width: 420px;
}

.calendar {
  position: absolute;
  left: 100%;
  margin-left: -50px;
  bottom: 100%;
  margin-bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  border: none;
}

.input-message {
  position: absolute;
  top: 100%;
  margin: 0;
  left: 155px;
  font-size: 16px;
  line-height: 28px;
}

.input-error {
  color: #FF5757;
}

.input-success {
  color: #333333;
}

.number-container {
  position: relative;
  display: inline-block;
  width: 133px;
	margin: 0;
}

.form-age {
  width: 100%;
  text-align: center;
  appearance: none;
}

.button-quantity {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 3px;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
}

.minus {
  position: absolute;
  top: 12px;
	left: 13px;
  z-index: 1;
}

.plus {
  position: absolute;
  top: 12px;
	right: 13px;
  z-index: 1;
}

.number-container input[type="number"]::-webkit-outer-spin-button,
.number-container input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.minus::before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.plus::before,
.plus::after {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.plus::after {
  transform: rotate(90deg);
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background-color: #000000;
}

.button-quantity:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.minus:focus-visible::before,
.plus:focus-visible::before,
.plus:focus-visible::after {
  background-color: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-info {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  margin-left: 8px;
  background-color: #83B3D3;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1px 9px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button-info:hover {
  background-color: #68A2CA;
}

.button-info:hover + .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  top: 54px;
  right: 36px;
  /* display: none; */
  width: 256px;
  padding: 20px 18px 23px 22px;
  color: #FFFFFF;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -7px;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #333333;
}

.tooltip-content {
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.modal-form-button {
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 40px;
  background-color: #83B3D3;
  border-radius: 10px;
}

.modal-form-button:hover {
  background-color: #68A2CA;
}

.modal-form-button:focus-visible {
  background-color: #68A2CA;
  border: none;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.modal-form-button:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}


